    <nav class="navbar navbar-inverse navbar-fixed-top front" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('portfolio_homepage') }}">Anaïs Hervouin</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{ path('portfolio_homepage') }}">Accueil</a></li>
            <li><a href="{{ path('portfolio_cv') }}#experiences">Expériences</a></li>
            <li><a href="{{ path('portfolio_cv') }}#competences">Compétences</a></li>
            <li><a href="{{ path('portfolio_cv') }}#formations">Formations</a></li>
          </ul>
        </div>
      </div>
    </nav>
